<div>
    <% if(rs.length > 0) { %>
    <table border="1">
        <!-- &nbsp is HTML syntax for a space it stands for non break space -->
        <tr><th>Name</th><th>Address</th><th>&nbsp;</th></tr>
        <% for (var i=0; rs.length > i; i++) { %>
        <tr>
            <td><a href="/resume/edit?resume_id=<%= rs[i].resume_id %>"> <%= rs[i].rName %></a></td>
            <% var address = rs[i].street + " " + rs[i].city + ", " + rs[i].state_abbr + " " + rs[i].zip; %>
            <td><%= address %></td>
            <td><a href="/resume/delete?resume_id=<%= rs[i].resume_id %>&name=<%= rs[i].rName %>">Delete</a></td>
        </tr>
        <% } %>
    </table>
    <% } else { %>
    No companies are entered into the company database table.
    <% } %>
</div>

<div style="margin-top:10px;">
    <a href="/resume/create">Create New Resume</a>
</div>